<div id="footer-post-container">
  <div id="footer-post">
    <div id="nav-footer" style="display: none">
      <ul>
        {{template "nav.html" $}}
        <li><form class="searchForm collapsed" id="search" onsubmit="search(event);return false;" style="display: inherit;">
            <input class="searchTerm" placeholder="Search…" autocomplete="on" type="text" id="searchInput">
            <input type="submit" class="searchBtn" value="GO">
        </form></li>
      </ul>
    </div>

    <!--See footer_js.html-->
    <div id="toc-footer" style="display: none">
    </div>

    <div id="share-footer" style="display: none">
      {{template "share.html" $ }}
    </div>

    <div id="actions-footer">
      <ul>
        <li id="toc"><a class="icon" href="#" onclick='$("#toc-footer").toggle();return false;'><i class="fa fa-list fa-lg" aria-hidden="true"></i> TOC</a></li>
        <li id="share"><a class="icon" href="#" onclick='$("#share-footer").toggle();return false;'><i class="fa fa-share-alt fa-lg" aria-hidden="true"></i> Share</a></li>
        <li id="top" style="display:none"><a class="icon" href="#" onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');"><i class="fa fa-chevron-up fa-lg" aria-hidden="true"></i> Top</a></li>
        <li id="menu"><a class="icon" href="#" onclick='$("#nav-footer").toggle();return false;'><i class="fa fa-bars fa-lg" aria-hidden="true"></i> Menu</a></li>
      </ul>
    </div>
  </div>
</div>

