{{template "partial_header.html" .}}

<div id="archive">
    <span id="archive-title"></span>
    <ul class="post-list">
    {{range $.archives}}
    {{$year := .Year}}
        {{range .MonthAchives}}
            <h2>{{$year}}-{{.Month}}</h2>

            {{range .Posts}}
                <li class="post-item">
                    <div class="meta">
                    <time datetime="{{ .PublicTime}}" itemprop="datePublish">{{dateFormat .PublicTime  "Jan 2 2006"}}</time>
                    </div>
                    <span><a class="title" href="{{$.postUrl}}/{{.UrlTitle}}" itemprop="url">{{.Title}}</a></span> 
                </li>
            {{end}}
        {{end}}
    {{end}}    
    </ul>
</div>

{{template "footer_js.html"  $}}

<script>
    var items = $('#archive li');
    var title = 'Great!' + ' ' + items.length + ' ' +  'posts in total. Keep on writing.';
    console.log(title);
    console.log(document.getElementById('archive-title'));    
    document.getElementById('archive-title').innerText = title;
</script>

{{template "partial_footer.html" $}}

