{{template "footer_js.html" $ }}

<footer id="footer">
  <div class="footer-left">
    Copyright &copy; {{$.blogInfo.Username}} || {{$.blogInfo.Title}}
  </div>
  <div class="footer-right">
    <nav>
      <ul>
        {{template "nav.html" $}}
        <!--Online notes-->
        <li><a class="icon" href="https://leanote.com/note" target="_blank" title="Online notes"><i class="fa fa-book" aria-hidden="true"></i></a></li>
        <!--Blog settings-->
        <li><a class="icon" href="https://leanote.com/member/blog/theme" target="_blank" title="Blog settings"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
      </ul>
    </nav>
  </div>
</footer>
