
<!--Home-->
<li><a href="{{$.indexUrl}}">Home</a></li>    
<!--Archives-->
<li><a href="{{$.archivesUrl}}">Archives</a></li>       
<!--Tags-->
<li><a href="{{$.tagsUrl}}">Tags</a></li>   
<!--Projects-->
{{if (eq $.themeInfo.ShowProjectMenu "true")}}
<li><a href="{{$.themeInfo.ProjectsLink}}">Projects</a></li>   
{{end}}

<!--Singles-->
{{if $.singles}}
    {{range $.singles}}
      <li><a href="{{$.singleUrl}}/{{.UrlTitle}}">{{.Title}}</a></li>
    {{end}}
{{end}}

<!--Cates-->
{{if $.cates}}
    {{range $.cates}}
      <li><a href="{{$.cateUrl}}/{{.UrlTitle}}">{{.Title}}</a></li>
    {{end}}
{{end}}
