{{range $.posts}}
	<div class="each-post">
		<div class="header">
			<h2><a href="{{$.postUrl}}/{{.UrlTitle}}" title="Full text">{{.Title}}</a></h2>
            <!--Edit abstract-->
            <a class="icon" href="https://leanote.com/member/blog/updateBlogAbstract?noteId={{.NoteId}}" target="_blank" title="Edit abstract"><i class="fa fa-pencil" aria-hidden="true"></i></a></li>
            {{if .Tags}}
                <div class="article-tag">
                    <i class="fa fa-tag"></i>
                    {{blogTags $ .Tags}}
                </div>
            {{end}}
		</div>
		
		<div class="desc content">
			{{.Abstract | raw}}
		</div>
        <div class="moreContainer">
            <a class="more-btn" href="{{$.postUrl}}/{{.UrlTitle}}">
              More »
            </a>
        </div>
	</div>
{{else}}
    <div class="each-post">
    No more result.
    </div>
{{end}}

